* {
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    text-decoration: none;
    cursor: default;
}
body {
    height: 600px;
}
/* flex display*/
.header {
    display: flex;
    width: 100%;
    height: 75px;
    text-align: center;
    position: fixed;
    background-color: rgb(203, 193, 180);
    z-index: 100;
    border-bottom: 2px solid;
    

}
/*flex items next 3*/
.header-left {
    background-color: transparent;
    color:white;
    width:20%;
    height: 100%;
    align-content: center;
}  
.header-middle {
    flex: 1;
    background-color: transparent;
    color:white;
    height: 100%;
    
}
.header-right {
    width:20%;
    background-color: transparent;
    color:#323232;
    height: 100%;

}
/*end of flex items in header above*/

.mainpart {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    height: 100%;
    padding-top: 75px;
    z-index: 2;
}
.main-left {
    background-color: whitesmoke;
    height: 100%
}
.main-middle {
    height: 100%;
}
.main-right {
    height: 100%;
    text-align: center;
    padding-top: 20%;
    z-index: 0;
}
.about-me {
    padding-top: 10%;
    padding-left: 10px;
    width: 90%;
    line-height: 150%;
    color: #323232;
    z-index: 3;

}
ol {
    list-style-type:disc;
    margin-left: 20px;
}
.name {
    width: 100%;
    background-color: transparent;
    font-size: 36px;
    color: #323232;

}
h1 {
    font-size: 36px;
    z-index: 2;
    text-decoration: none;
}
h2 {
    font-size: 32px;
    text-decoration: none;
}
h3 {
    font-size: 28px;
    text-decoration: none;
}
.skills {
    height: 75px;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 6px;
    
    
}
img {
    opacity: 90%;
    width: 90%;
    padding-top: 5px;
    transition: box-shadow 0.35s;
}
.logo-one {
    background-color: transparent;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-bottom: 6px;
}
img:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.logo-two {
    background-color: transparent;
    height: 100%;
    width: 100%;
    align-items: center;
}
.logo-three {
    background-color: transparent;
    height: 100%;
    width: 120%;
    align-items: center;
    padding-bottom: 15px;
    position: relative;
    right: 10px;
}
.header-right-info {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: transparent;
}
.header-right-left {
    background-color: transparent;
}
.header-right-middle {
    background-color: transparent;
}
.header-right-right {
    background-color: transparent;
}
.header-right-info h4 {
    background-color: transparent;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: #323232;
    cursor: pointer;
}
.profileimage {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transition: box-shadow 0.35s;
}
.profileimage:hover {
    box-shadow: 5px 5px 5px rgb(70, 70, 70, 0.6);
}
footer {
    height:75px;
    width: 100%;
    background-color: rgb(203, 193, 180);
    border-top: 2px solid #323232;
    text-align: center;
    z-index: 101;
    position: absolute;
    margin-top: 50px;
}
.footertitle, .phone {
    background-color: rgb(203, 193, 180);
    padding-top: 7.5px;
    color: aliceblue;
    transition: text-shadow 0.35s;
}
.footertitle:hover, .phone:hover {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: default;
}
